<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
    <title>IBM Bluemix Promo Codes</title>
    <link href="{{ url_for('static', filename='dependencies/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='dependencies/bootstrap/dist/css/bootstrap-theme.min.css') }}" rel="stylesheet">
    {% block page_style %}{% endblock %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ url_for('static', filename='dependencies/html5shiv/dist/html5shiv.js') }}"></script>
      <script src="{{ url_for('static', filename='dependencies/respond/dest/respond.min.js') }}"></script>
    <![endif]-->
  </head>

  <body>
    {% block body %}{% endblock %}

    <script src="{{ url_for('static', filename='dependencies/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dependencies/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ url_for('static', filename='ie10-viewport-bug-workaround.js') }}"></script>
    {% block page_script %}{% endblock %}
  </body>
</html>
